@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552637307576'); /* IE9 */
  src: url('iconfont.eot?t=1552637307576#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABuAAAAKVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBbIFvATYCJAMICwYABCAFhG0HLRsSBsiuMQbXD0RDxUJP3ccZlCyL9BvmFexTEkG0llXPThAVoowHVkSSyIhEAhlJPjbGvnvHRtz9r7VB/XWm33lEPZ3GtZu/4n8HtUjI1kiESEi0kwShEfJ1AZfov/5lxtZXHPXd4BAbLTd0lRMAGPuPe6e1cYLMB5TLXIO6T10Ux1sD2hujyAokAG8Yu+AFPiZQrUtaz/zOUQWGZfaqQFzbpgbDhYAss3SlUN5wMItXQGW66xV4ib4f/xVjmKSsYFetnW43YO3XpJPVd9O9Y4AC4XI2sGMUmAAysdWYWNEnGK1PdaJfHzhWefDL7oFJHPXPE+Xs0lrQAQXPJPREj1qaQB40ugycTbJSaxujytmW81WrVW02K+12rdOpx7w8D3Lhusbo3efD5+3H/dtBQtwh7m/cmYDa3bHe6tIV3ffhcAOe35BlbX73fz+UgnlQggtuQ2c4ba8oYqT5l6rX79buXn+uBRNgDaBUgVRrf/k3vk5RppYOj2Xwo5vLyFcqwzAXqLwXZ/BPhQObsiG2jSlrwkZXsnxvKxOqVaMEe5r9TdW0vYAtVBaEDJIKnVCoNIDO+AkoU2MSylWagmrjdo/XaCH1iVyFMc8AQqMvSOp9Q6HRDzrjf6FMu38o1xh9UG0n5i6sMRT26KYkjamB+jnaRhgI18yjcXmJzGNPk3lxRK+RTOwwFrL5cnqXApJLbElOzCKzQCFDH3fAc+R5IUYydMjgrMUcLeRyoulNWSP0YdQciWgYaUC6c8hmCAVE0JmNVj5fQkzHPBrZgahz1hApYY+PCrLyA9C7imAQ4lFeSZwwFTEmIEEK+dAOsBHPSYRQ1DzPQQwsy5oQiyzIoVZiqCK7vcr/u11QzdamcOoKxUGjAQAAAAA=') format('woff2'),
  url('iconfont.woff?t=1552637307576') format('woff'),
  url('iconfont.ttf?t=1552637307576') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552637307576#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont[class^="el-icon-yypc"],
.iconfont[class*=" el-icon-yypc"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-yypc-add:before {
  content: "\e60e";
}

